.container{
    max-width: 400px;
    display: flex;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    flex-direction: column ;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #5b279b;
}